<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-warning py-4">
    <a class="navbar-brand" id="hooked-brand" href="/urls">hooked</a>

    <!-- <% if(typeof user === 'undefined') { %> -->

    <div class="navbar-nav float-right">
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/register">Register</a>
    </div>

    <!-- <% } else { %> -->

    <!-- <div class="navbar-nav float-right">
      <h2>Logged in as <% user.email %></h2>
      <a class="nav-item nav-link" href="/register">Log Out</a> -->
    <!-- </div> -->

    <!-- <% } %> -->
  </nav>
</header>
