<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hooked</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Stylings -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/hooked-feed.css">

   <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- JS -->
  <script src="/scripts/events.js"></script>

</head>
<body>
 <%- include('partials/_header.ejs') %>
  <main class="rounded">
      <div class="searchDiv">
        <h2 class="searchWord">Search:</h2>
        <form method="POST" name="newSearch">
          <input placeholder="What are you looking for?" id="searchContent" type="text">
          <br>
          <div class="searchInput">
          <a class="searchIcon" href="#"><span class="search-icon fa fa-search fa-lg"></span></a>
        </div>
        </form>
      </div>
     <br>
  </main>

<div class="hooked-feed rounded">

  <!-- <div class="hooked-post rounded">
    <div class="title">
      <span class="titleSpan">Title</span>
      <span class="usernameSpan">Username</span>
    </div>
    <hr>
    <div class="content">
      <span class="post-description">Description:</span>
      <span class="post-content">Content:
        https://reddit.com/
      </span>
    </div>
    <hr>
    <div class="hook-ratings">
      <div class="rating">
      <input type="number" min="0" max="5"> /5 Stars
      </div>
      <div>
      <span class="fa fa-thumbs-up"></span> <span class="numbOfLikes">12</span>
    </div>
    </div>
    <hr>
    <div class="addComment">
      <span>Add Comment:</span>
      <textarea name="comment" id="commentBox" cols="20" rows="10"></textarea>
      <button id="addNewComment" value="Hook a comment!">Hook a comment!</button>
      <br>
      <span>Comments: </span>
    </div>
    <div class="commentFeed">

      <div class="comment">
        <span class="commentUsername">Username:</span>
        <p class="commentContent">This is where the comment is going to be written. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati ea, officiis aperiam voluptas iusto, numquam dolor, eligendi alias dolorum saepe porro. Cupiditate, rerum. In alias magni corporis ad ratione!</p>
      </div>
    </div>

  </div> -->


  </div>
  </div>
</body>
</html>
