nav #hooked-brand {
  font-size: 2rem;
}

header .navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-nav .nav-item {
  font-size: 1.3rem;
}

.navElements {
  display: flex;
  flex-direction: column;
}

.loggedIn {
  display: flex;
  flex-direction: row;
}

.myPagebtn {
  margin-right: 2em;
}
