body {
  font-family: 'Sen', sans-serif;
}

.hooked-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  background-color: #FDD8B5;
}

.hooked-post {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  min-height: 25em;
  background-color: white;
  padding: 3em;
  overflow: visible;
  border: solid rgb(136, 115, 85);
  border-width: 0.25em;
}

.comment:hover {
  box-shadow: 5px 7px rgb(184, 199, 222);
}
.titleSpan {
  font-weight: bold;
  font-size: 1.15rem;
}


.title {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.rate-post {
  display: flex;
  flex-direction: column;
}

.ratingValue {
  min-width: 1rem;
}

.post-content {
  word-break: break-word;
}

.hook-ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addComment {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.comment {
  margin-top: 2em;
  padding: 1em;
  display:flex;
  flex-direction: column;
  background-color:  rgb(213, 233, 250);
}

#ratingNumb {
  width: 2rem;
}

#addNewComment {
  font-size: 100%;
  width: 30%;
}

.hooked-post .mainHeader {
  height: 3px;
  background-color: rgb(136, 115, 85);
}
