body {
  background-color: #fdd8b5;
}

main {
  margin: 2rem;
  width: 60%;
  display: flex;
  margin-left:auto;
  margin-right:auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid rgb(136, 115, 85);
  border-width: 0.25em;
  padding-bottom: 1em;

}

.searchDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
}

.searchDiv h2 {
  font-size: 1.5rem;
  margin: 2rem;
}

.search-icon {
  padding-left: 0.5em;
  margin-top: 2em;
}

#searchContent {
  margin-top: 2em;
  height: 2rem;
  width: 100%;
}

.fa-search {
  height: 3rem;
}

form {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin: 0;
}

.toggleBlue {
  color: blue;
}

.fa-thumbs-up:hover {
  cursor: pointer;
}

.userTitle {
  margin: 1em;
}

.categoryDiv {
  margin-bottom: 1em;
}
